
.main_container{
    display: flex;
    flex-direction: column;
}

.apps {
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, #4fb8e8, #f976de);
    color: white;
    display: flex;
    flex-direction: column;
}
.apps h4 {
    margin-top: 40px;
    margin-left: 60px;
}
.apps p {
    margin-left: 60px;
}
.apps_btn {
    text-align: center;
    width: 100px;
    padding: 7px;
    background-color: rgb(61, 59, 59);
    color: white;
    border-radius: 5px;
    margin-left: 60px;
    cursor: pointer;

}
.apps_btn:hover {
    background-color: white;
    color: black;
}
.apps img {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-top: -75px;
}



.portfolio {
    width: 100%;
    height: 150px;
    text-align: center;
}
.portfolio p {
    font-size: 10px;
}
.portfolio button {
    text-align: center;
    width: 100px;
    padding: 5px;
    background-color: rgb(61, 59, 59);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.portfolio button:hover {
    background-color: white;
    color: black;
}



.offer_main_container {
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, #f976de, #9c89ee);    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offer_title {
    color: white;
    text-align: center;
}
.offer_sub_main_container {
    display: flex;
    margin-top: -15px;
}
.offer_sub_container {
    margin-right: 20px;
    margin-left: 20px;
    width: 70%;
    height: 50px;
    text-align: center;
}
.offer_sub_container h4{
    margin-top: 0px;
    color: white;
}
.offer_sub_container p {
    margin-top: -15px;
    font-size: 5px;
    color: white;
}
.offer_sub_container i {
    font-size: 25px;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
}



.do {
    width: 100%;
    height: 400px;
}
.do_title {
    text-align: center;
}
.do_container {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
.do_menu_row{
    display: flex;
    width: 100%;
    height:100%;
}
.do_menu_row img {
    width: 100%;
    height: 100%;
}
.overlay-wrap1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.415);
}
.overlay-effect1 {
    width: 75%;
    height: 75%;
    position: absolute;
}
.overlay-wrap1:hover .overlay-effect1 {
    background-color: #4fb8e8;
    transition: all 1s;
}
.overlay-wrap2 {
    width: 100%;
    height: 100%;
    position: absolute;
}
.overlay-wrap3 {
    width: 100%;
    height: 100%;
    position: absolute;
}
.overlay-wrap4 {
    width: 100%;
    height: 100%;
    position: absolute;
}


.social {
    width: 100%;
    height: 100px;
}
.social_container {
    width: 33%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_container i {
    background-color: #9c89ee;
    border-radius: 25px;
    font-size: 25px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 576px) {
    .apps {
        height: 350px;
    }
    .apps h4 {
        margin-left: 0px;
        text-align: center;
        margin-bottom: -2px;
    }
    .apps p {
        margin-left: 0px;
        text-align: center;
        margin-top: 8px;
    }
    .apps_btn {
        margin: auto;
        margin-top: 10px;
    }
    .apps img {
        width: 150px;
        height: auto;
        margin: auto;
        margin-top: 25px;
    }
}